// Variables pour réutilisation
$primary-color: #007bff;
$danger-color: #dc3545;

// Conteneur principal
.row {
  display: flex;
  justify-content: space-between;
}

// Styles pour chaque colonne
.col-md-6 {
  padding: 0 10px; // Ajoute un peu d'espace sur les côtés
}

// Styles pour les offres de stage
.list-group-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

// Styles pour les boutons
.btn {
  cursor: pointer;
  margin-right: 10px;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-danger {
  background-color: $danger-color;
  border-color: $danger-color;
  &:hover {
    background-color: darken($danger-color, 10%);
    border-color: darken($danger-color, 10%);
  }
}

// Styles pour les formulaires
.form-group {
  margin-bottom: 20px;
}

// Styles pour les titres
h3 {
  margin-top: 30px;
}
