#navbar-main {
    .logout-link {
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
  
      i {
        font-size: 1.2rem;
      }
  
      &:hover {
        color: #f0ad4e; // Change color on hover (optional)
      }
    }
  }
  