<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="card bg-secondary shadow">
        <div class="card-body">
          <form *ngIf="!editingAdmin" (ngSubmit)="onSubmit()" #adminForm="ngForm">
            <h6 class="heading-small text-muted mb-4 text-center">Add New Admin</h6>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="input-username">Username</label>
                  <input type="text" id="input-username" class="form-control" placeholder="Username" name="username" ngModel required>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="input-email">Email address</label>
                  <input type="email" id="input-email" class="form-control" placeholder="Email address" name="email" ngModel required>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="input-password">Password</label>
                  <input type="password" id="input-password" class="form-control" placeholder="Password" name="password" ngModel required>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8 text-center">
                <button type="submit" class="btn btn-primary">Add Admin</button>
              </div>
            </div>
          </form>

          <div *ngIf="editingAdmin">
            <h6 class="heading-small text-muted mb-4 text-center">Edit Admin</h6>
            <form (ngSubmit)="saveAdminChanges()" #editForm="ngForm">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label for="edit-username">New Username</label>
                    <input type="text" id="edit-username" class="form-control" placeholder="New Username" name="editedUsername" [(ngModel)]="editedAdmin.username" required>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label for="edit-email">New Email address</label>
                    <input type="email" id="edit-email" class="form-control" placeholder="New Email address" name="editedEmail" [(ngModel)]="editedAdmin.email" required>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="cancelEdit()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Affichage et gestion des administrateurs -->
  <div class="row justify-content-center mt-5">
    <div class="col-xl-8">
      <div class="card bg-secondary shadow">
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4 text-center">Admins</h6>
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let admin of admins">
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>
                  <button class="btn btn-info btn-sm mr-2" (click)="editAdmin(admin)">Edit</button>
                  <button *ngIf="admin._id" class="btn btn-danger btn-sm" (click)="confirmDelete(admin)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
