.container {
    margin-top: 5rem;
  }
  
  .card {
    background-color: #6c757d; /* Secondary background color */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* Shadow effect */
  }
  
  .card-body {
    padding: 1.25rem; /* Adjust padding */
  }
  
  .heading-small {
    color: #6c757d; /* Secondary text color */
    margin-bottom: .5rem;
  }
  
  .text-muted {
    color: #adb5bd; /* Muted text color */
  }
  
  .btn {
    &.btn-primary {
      background-color: #007bff; /* Primary button color */
    }
  
    &.btn-info {
      background-color: #17a2b8; /* Info button color */
    }
  
    &.btn-danger {
      background-color: #dc3545; /* Danger button color */
    }
  
    &.btn-sm {
      padding: .25rem .5rem; /* Adjust small button padding */
      font-size: 80%; /* Decrease small button font size */
    }
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529; /* Table text color */
  }
  
  th,
  td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; /* Table border color */
  }
  
  th {
    text-align: left;
    background-color: #e9ecef; /* Table header background color */
  }
  
  .table tbody+tbody {
    border-top: 2px solid #dee2e6; /* Double border between table bodies */
  }
  