/* Styles de la classe .container pour agrandir la hauteur et la largeur */
.container {
  margin-top: 5rem;
  background: url('/assets/img/brand/ad.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

/* Animation de rotation */
@keyframes rotateIn {
  0% {
    opacity: 0; /* L'élément est invisible au début */
    transform: rotate(-360deg) scale(0.1); /* L'élément commence très petit et tourne */
  }
  100% {
    opacity: 1; /* L'élément devient complètement visible */
    transform: rotate(0deg) scale(1); /* Rotation terminée, taille normale */
  }
}

/* Styles pour les cartes (cards) */
.card {
  background-color: rgba(108, 117, 125, 0.8);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: 10px;
  margin-bottom: 2rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  animation: rotateIn 1.5s ease-out; /* Applique l'animation de rotation sur l'apparition */
}

/* Ajustement du padding à l'intérieur de la carte */
.card-body {
  padding: 1.5rem;
}

/* Champs de formulaire */
form input,
form select,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

/* Boutons */
.btn {
  &.btn-primary {
    background-color: #007bff;
  }

  &.btn-sm {
    padding: .5rem 1rem;
    font-size: 0.875rem;
  }
}

/* Texte atténué */
.text-muted {
  color: #adb5bd;
}

/* Styles pour les tables */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: #ffffff;
  border-radius: 5px;
}

/* Bordure et padding pour les cellules */
th, td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* En-tête du tableau */
th {
  text-align: left;
  background-color: #e9ecef;
  font-weight: bold;
}

/* Double bordure entre les différents blocs de la table */
.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}
