<div class="container mt-5 background-image">
  <!-- Formulaire d'ajout d'un nouvel admin -->
  <div class="row justify-content-center" *ngIf="!editingAdmin" @fadeInUp>
    <div class="col-xl-8">
      <div class="card bg-secondary shadow animated">
        <div class="card-body">
          <h5 class="text-center">Add New Admin</h5>
          <form #adminForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" ngModel required class="form-control" />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" ngModel required class="form-control" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" ngModel required class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Add Admin</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart des utilisateurs -->
  <div class="row justify-content-center mt-5" *ngIf="usersCount !== undefined" @fadeInUp>
    <div class="col-xl-8">
      <div class="card bg-secondary shadow animated">
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4 text-center">Users Count Chart</h6>
          <canvas #usersChartCanvas></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Liste des admins -->
  <div class="row justify-content-center mt-5" *ngIf="admins" @fadeInUp>
    <div class="col-xl-8">
      <div class="card bg-secondary shadow animated">
        <div class="card-body">
          <h5 class="text-center">Admins List</h5>
          <ul class="list-group">
            <li *ngFor="let admin of admins" class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h6>{{ admin.username }}</h6>
                <p>{{ admin.email }}</p>
              </div>
              <div>
                <button class="btn btn-warning btn-sm" (click)="editAdmin(admin)">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deleteAdmin(admin._id)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulaire de modification d'un admin -->
  <div class="row justify-content-center" *ngIf="editingAdmin" @fadeInUp>
    <div class="col-xl-8">
      <div class="card bg-secondary shadow animated">
        <div class="card-body">
          <h5 class="text-center">Edit Admin</h5>
          <form (ngSubmit)="saveAdminChanges()">
            <div class="form-group">
              <label for="editUsername">Username</label>
              <input type="text" id="editUsername" [(ngModel)]="editedAdmin.username" name="editUsername" required class="form-control" />
            </div>
            <div class="form-group">
              <label for="editEmail">Email</label>
              <input type="email" id="editEmail" [(ngModel)]="editedAdmin.email" name="editEmail" required class="form-control" />
            </div>
            <div class="form-group">
              <label for="editPassword">Password</label>
              <input type="password" id="editPassword" [(ngModel)]="editedAdmin.password" name="editPassword" required class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
