.blog-container {
  max-width: 100%;
  margin: 0 auto;
  background-image: url('/assets/img/brand/blog.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  position: relative; /* Ajoute une position relative pour le positionnement du formulaire */
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le formulaire horizontalement */
  justify-content: center; /* Centre le formulaire verticalement */
  position: absolute; /* Position absolue pour centrer le formulaire */
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Ajuste la position pour le centrage */
  background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent pour le formulaire */
  border-radius: 8px; /* Ajoute des coins arrondis */
  padding: 20px; /* Ajoute du padding à l'intérieur du formulaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au formulaire */
}

.create-post-form h2 {
  margin-bottom: 20px; /* Espace en dessous du titre */
}

.create-post-form .form-group {
  margin-bottom: 15px;
}

.create-post-form .btn {
  margin-right: 10px;
}
