<!-- tables.component.html -->
<div>
  <!-- Formulaire pour créer un nouveau recruteur -->
  <form (ngSubmit)="onCreateRecruiter()" class="recruiter-form">
    <h2>Créer un recruteur</h2>
    <div class="form-group">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" required [(ngModel)]="newRecruiter.username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="newRecruiter.password" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="newRecruiter.email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>

  <!-- Liste des recruteurs existants -->
  <h2>Liste des recruteurs</h2>
  <ul>
    <li *ngFor="let recruiter of recruiters">
      {{ recruiter.username }} - {{ recruiter.email }}
      <button (click)="onUpdateRecruiter(recruiter.id)" class="btn btn-sm btn-info">Modifier</button>
      <button (click)="onDeleteRecruiter(recruiter.id)" class="btn btn-sm btn-danger">Supprimer</button>
    </li>
  </ul>
</div>
