.emplois-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: url('/assets/img/brand/work.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff; /* Couleur du texte principale en blanc pour un thème sombre */
  
  h2 {
    text-align: center;
    color: #fff; /* Couleur du titre en blanc */
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid; /* Utilise CSS Grid pour afficher les éléments en grille */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Crée des colonnes fluides avec une largeur minimale */
    gap: 20px; /* Espacement entre les éléments de la grille */
  }

  li {
    border: 1px solid #444; /* Bordure sombre pour s'adapter au fond sombre */
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Couleur de fond légèrement translucide pour s'adapter au thème sombre */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre plus marquée pour plus de profondeur */

    h3 {
      margin-top: 0;
      color: #00aaff; /* Couleur du sous-titre en bleu clair pour ressortir sur le fond sombre */
      font-size: 1.8rem;
    }

    p {
      margin: 10px 0; /* Augmente l'espacement entre les paragraphes */
      font-size: 1.1rem;
      color: #ddd; /* Couleur du texte en gris clair pour contraste */

      strong {
        color: #00aaff; /* Colorie les labels en bleu clair */
      }
    }

    input[type="file"] {
      display: block; /* Affiche le champ de fichier sur une nouvelle ligne */
      margin-bottom: 10px; /* Espacement entre le champ de fichier et le bouton */
      background-color: #333; /* Fond sombre pour le champ de fichier */
      color: #fff; /* Texte en blanc pour le champ de fichier */
      border: 1px solid #444; /* Bordure sombre pour le champ de fichier */
      padding: 5px; /* Padding pour le champ de fichier */
      border-radius: 4px; /* Arrondit les coins du champ de fichier */
    }

    button {
      background-color: #007bff; /* Couleur du bouton en bleu vif pour ressortir */
      color: #fff; /* Couleur du texte du bouton en blanc */
      border: none; /* Supprime la bordure par défaut */
      border-radius: 4px; /* Arrondit les coins du bouton */
      padding: 10px 20px; /* Augmente le padding pour un bouton plus grand */
      cursor: pointer; /* Change le curseur au survol */
      font-size: 1rem; /* Augmente la taille du texte du bouton */
      transition: background-color 0.3s; /* Ajoute une transition douce pour les changements de couleur */

      &:hover {
        background-color: #0056b3; /* Couleur du bouton au survol en bleu plus sombre */
      }
    }
  }
}
